.footer {
  margin: 0 auto;
  background-image: url(https://sun9-45.userapi.com/c855136/v855136366/233d56/B4tv8T-0zEE.jpg);
  background-size: cover;
  box-sizing: border-box;
  min-height: 100px;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;

  width: 100%;
}
